name: Weekly CSV Processing

on:
  push:
    branches:
      - main
    # - cron: '0 0 * * 0'  # Runs at 00:00 on Sunday

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: latest

    - name: Install dependencies
      run: npm ci

    - name: Run script
      run: node Scripts/CSV2MD/processCSV.js westeros_project_tracker.csv
