name: Weekly CSV Processing

on:
  push:
    branches:
      - main
    # - cron: '0 0 * * 0'  # Runs at 00:00 on Sunday

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: latest

    - name: Install dependencies
      run: cd Scripts/CSV2MD && npm ci

    - name: Run script
      run: cd Scripts/CSV2MD && node processCSV.js westeros_project_tracker.csv

    - name: Commit and push if changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add -A
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update markdown files" && git push)
